<div
    class="bg-surface-elevated rounded-xl p-3 border border-gray-700 hover:border-primary transition-all cursor-pointer"
    @onclick="HandleClick">
    <div class="flex items-center gap-4">
        <img src="@User.ThumbnailUrl" alt="@User.FullName"
             class="w-16 h-16 rounded-full border-2 border-gray-700 shrink-0"/>
        <div class="flex-1 min-w-0">
            <h3 class="text-lg font-semibold text-primary mb-2 truncate">@User.FullName</h3>
            <p class="text-xs text-secondary mb-2 truncate">@User.Email</p>
            <div class="flex gap-3 text-xs text-muted">
                <span>@User.Gender</span>
                <span>•</span>
                <span class="truncate">@User.Country</span>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public User User { get; set; } = new();
    [Parameter] public EventCallback<User> OnClick { get; set; }

    private async Task HandleClick()
    {
        await OnClick.InvokeAsync(User);
    }

}
